@using ModelLibrary.UISettings;
@model MainSettings
@{
	Layout = "_Layout";
}
<html>
	<body>
		<h2 class="title">
			@ViewData["Title"]
		</h2>

		@using (Html.BeginForm("UpdateSettings", "Admin"))
		{
			<div class="form-group">
				@Html.TextBoxFor(model=>model.MainHeader, new{@class="form-control"})
			</div>
			<div class="form-group">
				@Html.TextBoxFor(model=>model.ProjectsHeader, new{@class="form-control"})
			</div>
			<div class="form-group">
				@Html.TextBoxFor(model=>model.ServicesHeader, new{@class="form-control"})
			</div>
			<div class="form-group">
				@Html.TextBoxFor(model=>model.BlogHeader, new{@class="form-control"})
			</div>
			<div class="form-group">
				@Html.TextBoxFor(model=>model.ContactsHeader, new{@class="form-control"})
			</div>
			<input type="submit" value="Редактировать"/>
		}
	</body>
</html>