@using ModelLibrary.Applications;
@model IEnumerable<Application>
@{
	ViewData["Title"] = "Рабочий стол";
	Layout = "_Layout";
}

<html>
	<head>

	</head>
	<body>
		<h2 class="title">
			@ViewData["Title"]
		</h2>
		<table class="table">
			<tr>
				<th>
					Номер заявки
				</th>
				<th>
					Время заявки
				</th>
				<th>
					Имя
				</th>
				<th>
					Текст заявки
				</th>
				<th>
					Контакты
				</th>
				<th>
					Статус
				</th>
				<th></th>
			</tr>
			@foreach(var app in Model)
			{
				@using (Html.BeginForm($"UpdateApplicationStatus", "Admin", new { id = app.Id }, FormMethod.Post))
				{
					<tr>
						<td>
							@app.Id
						</td>
						<td>
							@app.DateTime
						</td>
						<td>
							@app.Name
						</td>
						<td>
							@app.Text
						</td>
						<td>
							@app.Email
						</td>
						<td>
							<select name="NewStatus">
								@foreach (var status in Enum.GetValues(typeof(ApplicationStatus)))
								{
									if(app.Status.ToString() == status.ToString())
									{
										<option value="@status.ToString()" selected>@status.ToString()</option>
									}
									else
									{
										<option value="@status.ToString()">@status.ToString()</option>
									}
								}								
							</select>
						</td>

						<td>
							<button type="submit" class="btn btn-primary">
								Изменить статус
							</button>
						</td>
					</tr>
				}
			}
		</table>
	</body>
</html>