@using ModelLibrary.Projects;
@model Project
@{
    ViewData["Title"] = Model.Preview;
}
<html>
    <body>
        <h2>@ViewData["Title"]</h2>
        <div>
            @Model.Description
        </div>
        <div>
            @{
                string imageBase64Data = Convert.ToBase64String(Model.ImageData);
                <img src="@string.Format("data:image/jpeg;base64,{0}",imageBase64Data)" alt="ProjectImage" style="width: 350px; height: auto" />
        }
        </div>
        @if(AuthSession.User != null && AuthSession.User.Role == "Administrator")
        {
            <div>
                <a asp-controller="Project" asp-action="UpdateForm" asp-route-id="@Model.Id">Обновить</a>
            </div>
            <div>
                <form asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id">
                    <input type="submit" value="Удалить" />
                    </form>
            </div>
        }
    </body>
</html>